<div id='assists' class="modal hide">
    <div class="modal__content">
        <h2>Cheats</h2>
        <ul class="cheat_list">
            <li class="cheat_list__item">
                <p>Highlight Target Blocks</p>
                <div class="selector" data-assist="highlightTargetPlayRow"></div>
            </li>
            <li class="cheat_list__item">
                <p>Highlight Target Column</p>
                <div class="selector" data-assist="highlightColumns"></div>
            </li>
        </ul>
        <button><span>Back to Game</span></button>
    </div>
</div>