<div id="leaderboard" class="modal hide">
    <div class="modal__content">
        <h2 class='heading'>Global Leaderboard</h2>
        <div class='grid'>
            <ol class='name-list'>
                <h3>Player</h3>
                <li class='score-1'></li>
                <li class='score-2'></li>
                <li class='score-3'></li>
                <li class='score-4'></li>
                <li class='score-5'></li>
                <li class='score-6'></li>
                <li class='score-7'></li>
                <li class='score-8'></li>
                <li class='score-9'></li>
                <li class='score-10'></li>
            </ol>
            <ol class='time-list'>
                <h3>Time</h3>
                <li class='time-1'></li>
                <li class='time-2'></li>
                <li class='time-3'></li>
                <li class='time-4'></li>
                <li class='time-5'></li>
                <li class='time-6'></li>
                <li class='time-7'></li>
                <li class='time-8'></li>
                <li class='time-9'></li>
                <li class='time-10'></li>
            </ol>
        </div>
        <div class='loader'>
            <i class="fas fa-spinner"></i>
            <p>Fetching Scores</p>
        </div>
        <button class='close'><span>Close</span></button>
    </div>
</div>