<div id="generic" class="modal hide">
    <div class="modal__content">
        <h2 class='heading'></h2>
        <p class='line1'></p>
        <p class="line2"></p>
        <p class="line3"></p>
        <input class="name-form" name='name' type="text" placeholder='Enter your name for our leaderboard'>
        <button class='close'><span></span></button>
    </div>
</div>