<div id="generic" class="modal">
    <div class="modal__content">
        <h2 class='heading'></h2>
        <p class='line1'></p>
        <p class="line2"></p>
        <p class="line3"></p>
        <button class='close'><span></span></button>
    </div>
</div>