body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --gap: 2vh;
  --shift-left: 12vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(166deg, #f7f7f7 0%, #cc9ca8 0%, #c9abda 34%, #9185b6 70%, #4f598c 100%);
  -webkit-transition: 50ms;
  transition: 50ms;
}

.content.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.content > * {
  font-family: 'Abril Fatface', serif;
}

@media screen and (min-width: 550px) {
  .content {
    --shift-left: 0vw;
  }
}

.content .assistsMenu {
  position: absolute;
  display: none;
}

.content header {
  margin: var(--gap) var(--shift-left) 0 0;
}

.content header h1 {
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.7);
}

.content header img {
  height: 5rem;
  -webkit-filter: drop-shadow(var(--box-shadow-glow));
          filter: drop-shadow(var(--box-shadow-glow));
}

.content .game_window {
  position: relative;
  --grid-gap: .2rem;
  margin: var(--gap) var(--shift-left) var(--gap) 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--numRows), 1fr);
  gap: var(--grid-gap);
  border: 0.25rem solid var(--highlight-color-fade-more);
  -webkit-animation: glow 2s alternate infinite ease;
          animation: glow 2s alternate infinite ease;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: var(--box-shadow-glow);
            box-shadow: var(--box-shadow-glow);
  }
  100% {
    -webkit-box-shadow: var(--box-shadow-glow-trans);
            box-shadow: var(--box-shadow-glow-trans);
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: var(--box-shadow-glow);
            box-shadow: var(--box-shadow-glow);
  }
  100% {
    -webkit-box-shadow: var(--box-shadow-glow-trans);
            box-shadow: var(--box-shadow-glow-trans);
  }
}

.content .game_window.portrait {
  --block-size: calc((80vh - 4rem)/(var(--numRows)));
}

.content .game_window.landscape {
  --block-size: calc((80vh - 4rem)/(var(--numRows)));
}

.content .game_window .row {
  display: -ms-grid;
  display: grid;
  gap: var(--grid-gap);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--numCols), 1fr);
}

.content .game_window .row .block {
  background-color: rgba(255, 255, 255, 0.15);
  width: var(--block-size);
}

.content .game_window .row .block::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.content .game_window .row .block.active:not(.gameover) {
  background-color: rgba(47, 218, 245, 0.3);
}

.content .game_window .row .block.flash {
  background-color: rgba(47, 218, 245, 0.1);
}

.content .game_window .row .block.target {
  --color: rgba(235, 39, 147, 0.356);
  -webkit-animation: flashTarget 350ms ease infinite alternate;
          animation: flashTarget 350ms ease infinite alternate;
}

@-webkit-keyframes flashTarget {
  0% {
    border: 3px dashed transparent;
  }
  100% {
    border: 3px dashed var(--color);
  }
}

@keyframes flashTarget {
  0% {
    border: 3px dashed transparent;
  }
  100% {
    border: 3px dashed var(--color);
  }
}

.content .game_window .row .block.target.transparent {
  --color: transparent;
}

.content .game_window .row .block.assistHighlight {
  background-color: rgba(47, 218, 245, 0.1);
}

.content .game_window .row .block.gameover {
  -webkit-animation: flashRed 350ms ease infinite alternate;
          animation: flashRed 350ms ease infinite alternate;
  background-color: rgba(216, 22, 22, 0.3);
}

@-webkit-keyframes flashRed {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(216, 22, 22, 0.3);
  }
}

@keyframes flashRed {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(216, 22, 22, 0.3);
  }
}

.content .game_window .row .block.win {
  -webkit-animation: flashGreen 400ms ease infinite alternate;
          animation: flashGreen 400ms ease infinite alternate;
  background-color: rgba(28, 216, 22, 0.3);
}

@-webkit-keyframes flashGreen {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(28, 216, 22, 0.3);
  }
}

@keyframes flashGreen {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(28, 216, 22, 0.3);
  }
}

.content .game_window .ui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: calc(100% + .9rem);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.content .game_window .ui > * + * {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .content .game_window .ui {
    left: calc(100% + 1.5rem);
  }
}

.content .game_window .ui button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  text-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.content .game_window .ui button.active {
  color: var(--highlight-color);
  text-shadow: var(--box-shadow-glow);
}

.content .game_window .ui button:hover {
  text-shadow: var(--box-shadow-glow);
}

@media (pointer: fine) {
  .content .game_window .ui button:hover {
    color: var(--highlight-color);
  }
}

@media screen and (min-width: 750px) {
  .content .game_window .ui button {
    font-size: 1.75rem;
  }
}

.content .game_window .ui button span, .content .game_window .ui button p {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: .65rem;
  white-space: nowrap;
}

@media screen and (min-width: 750px) {
  .content .game_window .ui button span, .content .game_window .ui button p {
    font-size: .75rem;
  }
}

.content .game_window .ui button p {
  position: relative;
}

.content .game_window .ui button.bgm span::after {
  content: 'Music On';
  white-space: nowrap;
}

.content .game_window .ui button.bgm.muted {
  text-shadow: 0 0 0.5rem rgba(190, 29, 29, 0.5);
  color: #be1d1d;
  position: relative;
}

.content .game_window .ui button.bgm.muted::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 115%;
  height: 2px;
  background-color: #be1d1d;
}

.content .game_window .ui button.bgm.muted span::after {
  content: 'Music Off';
  white-space: nowrap;
}

.content #time {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10%;
  min-width: 75px;
  width: 15vw;
  max-width: 100px;
  color: black;
  background-color: rgba(224, 210, 238, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 0;
}

.content #time span {
  display: inline-block;
  font-size: 1rem;
}

.content #time span:nth-of-type(2) {
  margin: 0 0;
}

.content #time span#milliseconds {
  font-size: .5rem;
  margin-top: .5rem;
  width: .5rem;
}
/*# sourceMappingURL=staxx.css.map */