body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    --gap: 2vh;
    --shift-left: 12vw;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(166deg, rgba(247,247,247,1) 0%, rgba(204,156,168,1) 0%, rgba(201,171,218,1) 34%, rgba(145,133,182,1) 70%, rgba(79,89,140,1) 100%);
    transition: 50ms;
    &.blur {
        filter: blur(3 px);
    }
    > * {
        font-family: 'Abril Fatface', serif;
    }
    @media screen and (min-width: 550px){
        --shift-left: 0vw;
    }
    .assistsMenu {
        position: absolute;
        display: none;
    }
    header {
        margin: var(--gap) var(--shift-left) 0 0 ;
        h1 {
            letter-spacing: 2px;
            color: rgba(0,0,0,.7);
        }
        img {
            height: 5rem;
            filter: drop-shadow(var(--box-shadow-glow));
        }
    }
    .game_window {
        position: relative;
        --grid-gap: .2rem;
        margin: var(--gap) var(--shift-left) var(--gap) 0;
        display: grid;
        grid-template-rows: repeat(var(--numRows), 1fr);
        gap: var(--grid-gap);
        border: .25rem solid var(--highlight-color-fade-more);
        animation: glow 2s alternate infinite ease;
        @keyframes glow {
            0% {
                box-shadow: var(--box-shadow-glow);
            }
            100% {
                box-shadow: var(--box-shadow-glow-trans);
            }
        }
        &.portrait {
            --block-size: calc((80vh - 4rem)/(var(--numRows)));
        }
        &.landscape {
            --block-size: calc((80vh - 4rem)/(var(--numRows)));
        }
        .row {
            display: grid;
            gap: var(--grid-gap); 
            grid-template-columns: repeat(var(--numCols), 1fr);
            .block {
                background-color: rgba(255,255,255,.15);
                width: var(--block-size);
                &::before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
                &.active:not(.gameover) {
                    background-color: rgba(47, 218, 245, .3);
                } 
                &.flash {
                    background-color: rgba(47, 218, 245, .1);
                }
                &.target {
                    --color: rgba(235, 39, 147, 0.356);
                    animation: flashTarget 350ms ease infinite alternate;
                    @keyframes flashTarget {
                        0% {
                            border: 3px dashed transparent;
                        }
                        100% { 
                            border: 3px dashed var(--color);
                        }
                    }
                    &.transparent {
                        --color: transparent;
                    }
                }
                &.assistHighlight {
                    background-color: rgba(47, 218, 245, .1);
                }
                &.gameover {
                    animation: flashRed 350ms ease infinite alternate;
                    background-color: rgba(216, 22, 22, 0.3);
                    @keyframes flashRed {
                        0% {
                            background-color: rgba(255,255,255,.2);
                        }
                        100% {
                            background-color: rgba(216, 22, 22, 0.3);
                        }
                    }
                }
                &.win {
                    animation: flashGreen 400ms ease infinite alternate;
                    background-color: rgba(28, 216, 22, 0.3);
                    @keyframes flashGreen {
                        0% {
                            background-color: rgba(255,255,255,.2);
                        }
                        100% {
                            background-color: rgba(28, 216, 22, 0.3);
                        }
                    }
                }
            }
        }
        .ui {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: calc(100% + .9rem);
            transform: translate(0, -50%);
            > * + * {
                margin-top: 1rem;
            }
            @media screen and (min-width: 750px){
                left: calc(100% + 1.5rem);
            }
            button {
                cursor: pointer;
                background-color: transparent;
                outline: none;
                border: none;
                text-shadow: 0 0 .35rem rgba(0,0,0,.4);
                color: rgba(0,0,0,.8);
                font-size: 1.5rem;
                position: relative;
                transition: 100ms linear;
                &.active {
                    color: var(--highlight-color);
                    text-shadow: var(--box-shadow-glow);
                }
                &:hover {
                    text-shadow: var(--box-shadow-glow);
                    @media (pointer: fine){
                        color: var(--highlight-color);
                    }
                }
                @media screen and (min-width: 750px){
                    font-size: 1.75rem;
                }
                span, p {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    font-size: .65rem;
                    white-space: nowrap;
                    @media screen and (min-width: 750px){
                        font-size: .75rem;
                    }
                }
                p {
                    position: relative;
                }
                &.bgm {
                    span {
                        &::after {
                            content: 'Music On';
                            white-space: nowrap;
                        }
                    }
                }
                &.bgm.muted {
                    text-shadow: 0 0 .5rem rgba(190, 29, 29, .5);
                    color: rgb(190, 29, 29);
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        width: 115%;
                        height: 2px;
                        background-color:rgb(190, 29, 29);
                    }
                    span {
                        &::after {
                            content: 'Music Off';
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    #time {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 10%;
        min-width: 75px;
        width: 15vw;
        max-width: 100px;
        color: rgb(0, 0, 0);
        background-color: rgba(224, 210, 238, 0.25);
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        span { 
            display: inline-block;
            font-size: 1rem;
            &:nth-of-type(2){
                margin: 0 0;
            }
            &#milliseconds {
                font-size: .5rem;
                margin-top: .5rem;
                width: .5rem;
            }
        }
    }
}