@import "./assists" ;

.modal {
    opacity: 1;
    transition: 350ms ease;
    position: absolute;
    top: 50%;
    left: 50%;
    &.hide {
        opacity: 0;
        visibility: hidden;
        transform: scale(1.2);
    }
    &__content {
        transition: 350ms ease;
        position: absolute;
        width: 90vw;
        @media (pointer: coarse){
            width: 75vw;
        }
        max-width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0,0,0,.35);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1.5rem;
        text-align: center;
        box-shadow: var(--box-shadow-glow);
        h2 {
            font-size: 1.5rem;
            opacity: .75;
            letter-spacing: 2px;
        }
        p {
            margin: 1rem 0;
            font-size: .85rem;
            line-height: 1.5rem;
            letter-spacing: .5px;
            font-family: var(--sans);
        }
        input {
            display: block;
            margin: 0 auto 1rem auto;
            height: 2rem;
            width: 250px;
        }
        button {
            cursor: pointer;
            border: 2px solid var(--highlight-color);
            background-color: transparent;
            position: relative;
            padding: .25rem .5rem;
            letter-spacing: 1px;
            box-shadow: 0 0 0 transparent;
            transition: 350ms ease;
            span {
                transition: inherit;
                color: rgba(0, 0, 0, .9);
                font-weight: 600;
            }
            &:hover {
                @media (pointer: fine){
                    box-shadow: var(--box-shadow-glow);
                    span {
                        color: var(--highlight-color);
                    }
                }
            }
        }
    }
    .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            display: block;
            padding: 2rem;
            border-radius: .25rem;
            // transition: 350ms ease;
            i {
                animation: spin 1s ease-in-out infinite;
                @keyframes spin {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
            p {
                margin: .5rem;
            }
            &.hide {
                opacity: 0;
            }
        }
}

#generic.highscores {
    h2 {
        margin-bottom: 1rem;
    }
    p {
        margin: .5rem;
    }
    button {
        margin-top: .5rem;
    }
}

#leaderboard {
    .modal__content {
        .grid {
            margin: 1rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            transition: 350ms ease;
            ol {
                display: grid;
                row-gap: .25rem;
                list-style: none;
                h3 {
                    text-decoration: underline;
                }
                &.name-list {
                    li {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    
                }
                &.time-list {
                    list-style: none;
                    li {
                        span {
                            content: 's';
                            margin-left: .1rem;
                            font-size: .75rem;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}